body {
    color: white;

    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    overflow: hidden;

    background-color: black;
}

.game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    
    /* height: 90vh;
    width: 90vw;
    position: absolute;
    top: 5vh;
    left: 5vw; */
    container-type: size;
    container-name: gameContainer;
}

/********************************************/

.game-container .intro {
    position: absolute;
    top: 5cqh;
    left: 50cqw;
    transform: translateX(-50%);
    width: 90cqw;
    height: 90cqh;
    overflow: auto;
    max-width: 760px;
}

.game-container .intro label {
    padding-right: 1em;
}

.game-container .roms {
    display: grid;

    grid-template-columns: auto;
    padding-bottom: 2.6em;
}

.game-container .roms .rom {
    /* padding: 1em; */
    padding-top: 0.6em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.game-container .roms .rom-link {
    text-decoration: underline;
    cursor: pointer;
}

.game-container .roms .remove-link {
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

.game-container .intro .core-select {
    margin-top: 1em;
}

/*********************************************************/

.game-container .game .ejs_virtualGamepad_parent {
    display: none;
}


.game-container .controls .normal-button {
}

.game-container .controls .zone {
    max-width: 350px;
    max-height: 350px;
}