body {
    color: white;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    overflow: hidden;

    background-color: black;
}

.game-container {
    width: 100dvw;
    height: 100dvh;
    
    /* height: 90vh;
    width: 90vw;
    position: absolute;
    top: 5vh;
    left: 5vw; */
}

.game-container .game {
    width: 100%;
    height: 100%;
}

.game-container .roms {
    display: grid;

    grid-template-columns: auto;
}

.game-container .roms .rom {
    padding: 1em;
    display: flex;
    gap: 1em;
}

.game-container .roms .rom-link {
    text-decoration: underline;
    cursor: pointer;
}

.game-container .roms .remove-link {
    text-decoration: underline;
    cursor: pointer;
    color: red;
}
