@container gameContainer (aspect-ratio > 1/1) {
    .game-container .game {
        width: calc(4 / 3 * 100cqh);
        height: 100cqh;
        left: calc((100cqw - (4 / 3 * 100cqh)) / 2);
        z-index: 10;
    }

    /********************************************/

    .game-container .controls {
        width: 100cqw;
        height: 100cqh;
        position: absolute;
        top: 0;
        left: 0;
        container-type: size;
        z-index: 100;
        pointer-events: none;
    }

    .game-container .controls .zone {
        position: absolute;
        top: 6cqh;
        left: -5cqw;
        width: 50cqh;
        height: 50cqh;
        display: grid;

        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;

        transform: rotate(60deg);
        pointer-events: all;
    }

    .game-container .controls .zone > * {
        border: 1px solid white;
    }

    .game-container .controls .button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: all;
    }

    .game-container .controls .button.button-a {
        right: 1cqw;
        top: 12cqh;    
        border-radius: 100%;
        width: 11cqw;
        height: 11cqw;
        font-size: 5cqw;
    }

    .game-container .controls .button.button-b {
        right: 12cqw;
        top: 26cqh;    
        border-radius: 100%;
        width: 11cqw;
        height: 11cqw;
        font-size: 5cqw;
    }

    .game-container .controls .button.button-select {
        right: 2cqh;
        bottom: 12cqh;    
        width: 14cqh;
        height: 10cqh;
        border-radius: 1cqh;
        font-size: 3.5cqh;
    }

    .game-container .controls .button.button-start {
        right: 2cqh;
        bottom: 1cqh;    
        width: 14cqh;
        height: 10cqh;
        border-radius: 1cqh;
        font-size: 3.5cqh;
    }
}